/* Elastislide Style */
.b-es-carousel-wrapper  ul, .b-es-carousel-wrapper li{ 
	margin:0;
	padding:0;
}
.b-es-carousel-wrapper{
	border:1px solid #d3d3d3;
	padding:24px 46px;
	position:relative;
	background:#fff;
	margin-bottom:34px;
	z-index:0
}
.b-es-carousel{
	overflow:hidden;background:none;
}
.b-es-carousel ul{
	display:none;
}
.b-es-carousel ul li{
	height:100%;
	float:left;
	display:block;
}
.b-es-carousel ul li a{

}
.b-es-carousel ul li a img{
	
	border:none;
	max-height:100%;
	
}
.boss-carousel .es-nav span{
	position:absolute;
	margin-top:-13px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.8;
}
.boss-carousel .es-nav span.es-nav-prev{
	position: absolute;
	top: 50px;
	left: 10px;
	width: 8px;
	height: 15px;
	cursor: pointer;
	background: url('../image/carousel_prev.png') center no-repeat;
}
.boss-carousel .es-nav span.es-nav-next{
	position: absolute;
	top: 50px;
	right: 10px;
	width: 8px;
	height: 15px;
	cursor: pointer;
	background: url('../image/carousel_next.png') center no-repeat;
}
.boss-carousel .es-nav span:hover{
	opacity:1.0;
}