.success, .warning, .attention, .information {
	position: relative;
}
.success .close, .warning .close, .attention .close, .information .close {
	position: absolute;
	right: 10px;
}
.frame_container{position:relative; z-index:9}
#content{margin-bottom:13px}
#currency select {margin:4px 5px 0 5px}
#language select{margin:4px 0 0}
#boss-search .choose-select .input_cat select{margin-top:6px}
#boss-search .choose-select .bkg_input_search input[type="text"]{line-height:32px}
#boss_menu > ul > li{
	float:left;
	width:213px;
}	
#boss_menu > ul > li > div.dropdown ul.category li, #boss_menu > ul > li > div.dropdown ul.informations li{padding:0 0 9px 0; }
#boss_menu > ul > li > div.dropdown .column.category li a img{margin-left:20px}
#boss_menu > ul > li > div.dropdown a.parent{padding-left:15px}
#boss_menu > ul > li > div.dropdown ul.manufacturer li{margin-left:0}
#boss_menu > ul > li > div.dropdown ul.informations li a{display:inline-block}
#boss_menu > ul > li > div.dropdown ul.product li a img{margin-left:-16px}
#boss_menu ul li ul li > div{padding-bottom:12px}
.product-compare{margin-top:7px}
.mini-cart-info .remove{margin-top:-8px}
.boss_home_filter .image, .boss_category_content .image{position:static}
.boss_home_filter .image .discount, .boss_category_content .image .discount{display:none}
.banner-home-2 a{margin:0 0 10px}
.slideshow{margin-bottom:8px}

.product-filter .display{width:50px; }
.product-filter .sort, .product-filter .limit{margin-top:5px}
.product-filter .sort select, .product-filter .limit select{vertical-align:4px}
.product-filter .sort b, .product-filter .limit b{vertical-align:11px}
.product-list .cart{margin-top:0}
.product-filter{margin-bottom:35px!important}
.product-list .compare{margin-bottom:8px}

.category-info p{margin-bottom:0}
p.choose_search b{vertical-align:7px}
.product-info .cart b{vertical-align:4px}
.cart-info tbody .quantity input[type="image"], .cart-info tbody .quantity img{top:-4px}
.choice_shopping_cart input[type="radio"]{margin-top:-3px}
.choice_shopping_cart table.radio td label{margin-left:0}
.choice_shopping_cart table.radio td input[type="radio"]{margin-left:-2px}
#cboxLoadedContent table.radio tr td:first-child input[type='radio']{margin-top:-4px}
#shipping-method table.radio tr td:first-child input{margin-top:-3px}
#payment-method table.radio tr td:first-child input{margin-top:-3px}
#payment-method .checkout-content input[type='checkbox']{margin-left:-4px}
#payment-address .checkout-content input[type="checkbox"]{margin-left:-3px}
#payment-address .checkout-content input[type="radio"], #shipping-address .checkout-content input[type="radio"]{margin-left:-4px}
#static-footer-top{position:relative; z-index:0}
a.forgotten{vertical-align:6px}
p.choose_search input[type='checkbox']{margin-left:-4px}
input#description{margin-left:-4px}
#column-left .banner{margin-bottom:11px}
#checkout .checkout-content p{margin-bottom:11px}
#checkout .checkout-content input[type="radio"]{margin-left:-4px; margin-right:3px}
.checkout #checkout .checkout-content .left label{margin-bottom:-22px; display:block}
.checkout #checkout .checkout-content .left label.guest{margin-bottom:-18px; display:block}
#checkout .checkout-content .left span.button_pink{margin-top:21px}
.boss-tab-related .cart {padding-bottom:10px!important; display:block}
.buttons{margin-bottom:11px}
.box{margin-bottom:16px}
.compare-info td span.button_pink input{font-size:11px}
.ui-notify a.boss_button_remove{top:11px}
.manufacturer-list{padding-bottom:15px}
.cloud-zoom-title{ left:0!important}