/*================================================================================ */
/* 1. Basics & Buttons												3000Themes.com
/*================================================================================ */



.content{
	z-index: 10;
}
	.four.columns.leftcol{ float: left;}
	.twelve.columns.col2l.content{ float: right; }
	.twelve.columns.col2r.content{ float: left;} 
	.four.columns.rightcol{ float: right !important;}
/* Bigger then standard 960px (1280px) */
	@media only screen and (min-width: 1280px) {
		
		

	}
	/*ipad 2 ngang*/
	@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
		body{-webkit-text-size-adjust: none;}
		input[type='radio'] {margin-top:-5px; vertical-align:0}	
		span.button_pink{background:none; padding:0}
		span.button_pink input{background:url("../image/pink_right.png") repeat-x left; border-radius:3px; -moz-border-radius:3px; padding:0 10px}				
		form.gift-vourcher table tr td input[type="radio"]{margin-bottom:5px}
		#content .content.shopping-module table.radio td input[type="radio"], #cboxLoadedContent table.radio tr td:first-child input[type="radio"]{vertical-align:0px; margin-top:-2px}
		#language, #currency{padding:7px 0 0 5px}
		#language select, #currency select{background:#F4F4F4; font:400 10px Arial; color:#323232}
		#boss-search .choose-select .input_cat{width:180px; background:#f9f9f9; border:1px solid #c9c9c9;border-left:none; height:29px;}
		#boss-search .choose-select .input_cat select{width:180px; margin-top:2px; background:#fbfbfb}
		.product-compare{margin-top:4px}
		a.forgotten{vertical-align: 0px;}

	}
	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		
		
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		body{-webkit-text-size-adjust: none; font-size:13px}
		.container .column, .container .columns{margin-left:10px; margin-right:10px}
		.column.omega, .columns.omega{margin-left:0}
		.column.alpha, .columns.alpha{margin-right:0}
		#footer .alpha.omega, #header .alpha.omega, #boss_menu .alpha.omega, #content .alpha.omega{margin-left:0; margin-right:0}
		span.button_pink{background:none; padding:0}
		span.button_pink input{background:url("../image/pink_right.png") repeat-x left; border-radius:3px; -moz-border-radius:3px; padding:0 10px}
		#column-left{width: 211px;}
		#header{height:auto}
		#header #cart{z-index:30; width:156px;}
		#header #cart .content{background:url("../image/dropdown_cart_small.png") no-repeat scroll center top transparent}
		#header #search{clear:both; margin:10px 0}
		#header #search-form-bot{z-index:50}
		#language, #currency{padding:7px 0 0 5px}
		#language select, #currency select{background:#F4F4F4; font:400 10px Arial; color:#323232}
		#header #cart .heading a{font-size:13px}
		.static-header-top .static-header:first-child{margin:0; padding:0}
		.static-header-top .static-header{margin-left:11px; padding-left:10px}
		.static-header-top .static-header p{display:none}
		.static-header-top .static-header h4{padding-top:8px}
		#boss-search{width:371px}
		#boss-search .choose-select .bkg_input_search{background:#f9f9f9; width:196px; border:1px solid #c9c9c9; margin-left:3px; height:29px;}
		#boss-search .choose-select .bkg_input_search input[type="text"]{width:186px}
		#boss-search .choose-select .input_cat{width:117px; background:#f9f9f9; border:1px solid #c9c9c9;border-left:none; height:29px;}
		#boss-search .choose-select .input_cat select{width:110px; margin-top:2px; background:#fbfbfb}
		#boss-search input.button-search{border:none; border-radius:0}

		.slideshow{width:100%; margin:5px 0 1px 4px}
		.slideshow .flexslider .slides img{}
		.banner-home-1{margin:0 0 8px 4px}
		.banner-home-2{display:none}
		#static-header-bottom{width:533px}
		#boss_menu{width:211px}
		#boss_menu > ul.display-menu{width:209px}
		#boss_menu > ul > li{height:34px}
		#boss_menu > ul > li > div{left:203px}
		#boss_menu > ul > li > div.dropdown .option ul li a img + span{min-height:40px}
		#boss_menu ul.display-menu > li:hover > div.dropdown{left: 209px;}
		.product-compare{width:100%}
		.product-list .right{width:64%}
		.product-list .cart{margin-right:10px; margin-bottom:10px}
		.product-info .left{margin-bottom:30px}
		.product-grid div.one-product-box, .product-grid div.one-product-box.last{margin-right:9px; margin-bottom:15px}
		.product-filter .limit select, .product-filter .sort select{width:135px}

		.compare-infomation{width:100%}
		#tab-review input[type="text"], #tab-review textarea{width:90%!important}
		#tab-related{padding-left:4px}
		#tab-related .es-carousel ul li a img{width:135px}
		.login-content .right .content input[type="text"], .login-content .right .content input[type="password"]{width:96%}
		a.forgotten{float:right; margin:8px 6px 0 0}
		.cart-module table tr td{vertical-align:top}
		.cart-module table tr td:first-child{padding-top:6px}
		.cart-module #shipping table tr td span.error{display:block; margin-left:0}
		.cart-module table tr td.postcode{padding-top:6px}
		.cart-module table tr td select, .cart-module table tr td input[type='text']{font-size:12px; }
		.cart-module table tr td select{width:268px}
		.cart-module table tr td input[type='text']{width:260px}
		.cart-module table tr td input[type='text']{height:24px; vertical-align:top}
		
		.wishlist-info{}
		.wishlist-info tbody .name{width:22%; padding-right:10px}
		.wishlist-info tbody .image{padding-left:10px; width:18%}
		.wishlist-info tbody td{padding:32px 7px 7px}
		.wishlist-info tbody .model{}
		.wishlist-info tbody .action{padding-right:20px}
		
		.cart-info tbody td{padding:7px}
		.cart-info tbody .image{padding-left:10px}
		.cart-info tbody .name{width:24%; padding-top:38px}
		.cart-info tbody .model{padding-top:38px}
		.cart-info tbody .quantity{padding-top:35px}
		.cart-info tbody .price, .cart-info tbody .total{padding-top:38px}
		.cart-info tbody td.vouchers input[type='text']{color:#000; background:#e5e5e5}
		
		.category-list ul{width:100%}
		.acount .login-frame input[type='password']{line-height:27px}		
		#content form.return-form .content .left, #content form.return-form .content .right{width:100%}
		.return-reason, .return-opened{width:40%}
		form.newsletter_acc table.form td:first-child{padding-top:5px}
		.return-opened input[type='radio']{margin-top:5px}
		
		 .checkout-heading a{font-size:12px}
		 .checkout-content{padding-left:0}
		 #checkout .checkout-content input[type="text"], #checkout .checkout-content input[type="password"]{width:96%}
		 #payment-address .checkout-content label, #shipping-address .checkout-content label{margin-bottom:10px; display:inline-block}
		.home-tab .boss_home_filter .price .price-new{margin-left:0; display:block}
		#checkout .checkout-content input[type='radio'], #shipping-method .checkout-content input[type='radio'], #payment-method .checkout-content input[type='radio'] {margin-top:2px; vertical-align:0}	
		#payment-address .checkout-content input[type="radio"], #shipping-address .checkout-content input[type="radio"]{margin-bottom:0; margin-top:5px}
		#checkout .checkout-content input[type='radio']{margin:0 9px 10px 0}
		.b-es-carousel-wrapper{padding:24px 45px}
		#footer .column{width:30%; margin-bottom:30px}
		#footer .partner{padding-top:0}
		.banner-home-3 img{width:274px; height:75px}
		.banner-home-3 a + a{margin-left:6px}
		.boss_category_tabs{width:554px;}
		.boss_category_content .es-nav span.es-nav-next, .boss_category_content .es-nav span.es-nav-prev{top:-66px}
		.boss_category_tabs .boss_htabs a.display-none{display:none!important}
		.boss_category_content .one-product-category{width:158px}
		
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {		
		.frame_container, body{background:url(../image/header_mb.jpg) repeat-x top}
		body.home_page #column-right{display:none}
		#content{min-height:150px;margin-bottom:15px;}
		#column-left{display:none}
		p{line-height:20px}
		#mb-links{display:block; float:left; width:100%}
		#mb-logo{clear:both; height:53px; padding:27px 0 0; text-align:center}
		
		#boss_menu{background:none;height:auto;border:none;box-shadow:0 0 0;border-radius:0;padding:0; margin-bottom:12px; overflow:hidden; clear:both; margin-right:0; width:100%}
		#boss_menu h3{display:none}
		#boss_menu > ul.display-menu{display:block!important; width:100%; border:none; position:static}
		#boss_menu > ul.display-menu > li{display:block;padding:0;width:100%;margin:0 0 7px;background:url(../image/m-menu.jpg) repeat-x!important; height:34px; border:none!important}
		#boss_menu > ul > li:hover, #boss_menu > ul > li.even:hover, #boss_menu > ul > li.odd{background:url(../image/m-menu.jpg) repeat-x!important; border:none}
		#boss_menu > ul > li:hover > a{font:400 14px HelveticaBold; padding:10px 12px}
		#boss_menu > ul > li > a{padding:10px 12px;color:#fff; font:400 14px HelveticaBold; text-transform:uppercase}
		#boss_menu > ul > li > div{position:relative;display:none;margin:0!important}
		#boss_menu > ul > li > div > ul{display:inline-block;padding-left:0}
		#boss_menu > ul > li:hover > div{display:none}
		#boss_menu ul li:hover > div{display:none!important}
		
		span.button_pink{background:none; padding:0}
		span.button_pink input{background:url("../image/pink_right.png") repeat-x left; border-radius:3px; -moz-border-radius:3px; padding:0 10px}
		.ui-notify .ui-notify-message{width:300px}
		#header{height:100%;}
		#header #logo{float:none; height:64px;text-align:center; margin:0 auto}
		#header #logo img{margin-top:15px}	
		#mb-cart{clear:both}
		#header #cart{z-index:50; width:100%; background:none; height:auto; padding:0; margin:18px 0} 
		#header #cart .heading{background:none}
		#header #cart .heading a{color:#737373; font:700 12px Arial; display:inline; letter-spacing:0; margin:0; text-transform: none}
		#header #cart .heading h4{color:#d23c51; font:700 12px Arial; display:inline}
		#header #cart .content{width:300px; top:20px; right:auto; left:0; background:url("../image/dropdown_cart_mb.png") no-repeat scroll center top transparent}
		#header #cart .content .bg_cart{background:none; width:300px}
		.header-top{display:none}
		.header-middle{display:none}
		.banner-home-2, .banner-home-1{display:none}
		.banner-home-3 a.banner-2{display:none}
		.breadcrumb{margin:0 0 16px}
		.success .close, .warning .close, .attention .close, .information .close{position: absolute; right: 0; top:8px}
		.success, .warning, .attention, .information {position: relative;padding:10px 15px 10px 20px}
		.success{background-position:3px 9px }
		#static-header-bottom{width:100%}
		.slideshow{width:100%; margin:0 0 25px}
		.slideshow .flexslider .slides li a{text-align:left!important}
		.quick-access{display:none}
		
		table.form tr td:first-child{width: 30%;}
		input[type="text"], input[type="password"], textarea {margin: 5px 0;width: 96%;}
	    select.large-field{width:99%}
		
		#header #welcome{color:#fff; font-size:12px; width:100%; clear:both; text-align:left; padding:14px 0 9px; margin:0; }
		#header #welcome a{font-size:12px}	
		#header .links{float:none; width:100%; height:24px; text-align:center}
		#header .links a{font-size:12px; float:none; display:inline-block}
		#header .links a:first-child{margin:0}
			
		#mb-search{position:relative; clear:both}
		#mb-search input[type='text']{height:26px; line-height: 1.1em; vertical-align:middle; border-radius:0; -webkit-border-radius:0}
		#mb-search .button-search{top:5px; right:3px; background: url("../image/m-search.jpg") no-repeat center center;
			cursor: pointer;
			height: 29px;
			position: absolute;
			width: 35px;}
		#boss-login{color:#4a4a4a; width:100%; padding-bottom:10px}
		#boss-login ul li{padding-bottom:0}
		#boss-login ul li.login-li{padding-bottom:5px}
		#language select, #currency select{border:1px solid #CECECE; margin:0; background:#f4f4f4; height:30px; font:400 10px Arial; color:#323232; width:130px}
		#language, #currency{float:left; padding-top:0; margin-right:10px; margin-left:-5px}
		
		p.choose_search select{width:98%}
		form.gift-vourcher input[type="text"],form.gift-vourcher input[type="password"],form.gift-vourcher textarea,form.edit_affiliate input[type="text"],form.edit_affiliate input[type="password"],form.edit_account input[type="text"],form.register input[type="text"],form.register input[type="password"],form.address_form input[type="text"],form.register-affiliate input[type="text"],form.register-affiliate input[type="password"],form.register-affiliate select{width:96%!important}
		form.address_form table.form tr td select,form.edit_affiliate table.form tr td select,form.register table.form tr td select{width:99%;padding:3px}
		form.register .buttons .right input.button,form.gift-vourcher .buttons .right input.button,form.register-affiliate .buttons .right input.button{margin-top:15px;}
		
		.pagination .results{display:none}
		.pagination{border-top:none; padding:0}
		.pagination .links{border: medium none; border-top:1px dashed #C3C0B7; padding:10px 0;
			display: block;
			font-size: 14px;
			text-align: right;
			width: 100%;}
		.pagination .links a{font-size:14px;}
		
		 .compare-infomation{background-position:left top; padding:0 20px 0 1px}
		 .compare-info td{padding:5px 10px}
		/*login*/
		.login-content .left{float:none; width:100%}
		.login-content .right{float:none; width:100%; border-left:none; padding-left:0}
		.login-content .left .content, .login-content .right .content{min-height:152px}
		.login-content input[type="text"], .login-content input[type="password"]{width:90%}
		 form.contact-form input[type='text'], form.contact-form  textarea{width:80%!important; margin:6px 0}
		/*wishlist*/
		.wishlist-info thead .model, .wishlist-info thead .image,.wishlist-info tbody .model, .wishlist-info tbody .stock, .wishlist-info thead .stock{display:none}
		.wishlist-info tbody .image img{display:none; padding:0}
		.wishlist-info tbody .image {padding:0; width:0}
		.wishlist-info tbody td{padding:7px}
		.wishlist-info thead td{}
		.wishlist-info thead .name{padding-left:7px}		
		.wishlist-info tbody td.price{padding-top:15px; text-align: center; width: 26%;}
		.wishlist-info tbody .name{padding-top:15px; padding-right:7px; width:35%}
		.wishlist-info tbody .name a{font-size:12px}
		.wishlist-info tbody td.action{padding:9px 3px 0 0; text-align:center}
		.wishlist-info tbody td.action a.button span{padding:0 4px 0 0}
		/*checkout*/
		.checkout-heading{}
		 .checkout-content input[type="radio"]{vertical-align:-1px}
		 .checkout-content .left{float:none; width:100%; margin-bottom:20px}
		 .checkout-content .right{float:none; width:100%}
		 .checkout-content #login, #payment-address .checkout-content .right{border-left:none; padding-left:0}
		 .checkout-content .left .detail{margin-bottom:10px}
		 #payment-method .checkout-content textarea, #shipping-method .checkout-content textarea{width:97%!important}
		 .checkout-product thead .model, .checkout-product tbody .model, .checkout-product tfoot .model{ display:none}	
		 .checkout-product thead td, .checkout-product tbody td{padding:5px}
		 .checkout-product tbody .price, .checkout-product tbody .total{font-size:12px}
		 .checkout-product tfoot td{padding:6px}
		 .checkout-product tfoot td.price, .checkout-product tfoot td.total{font-size:14px}
		 .checkout-product thead td{font-size:12px}
		 .checkout-product thead td{font-size:10px; height:26px;}
		 .checkout-product tbody .name a{font-size:12px}
		 .product-grid div.one_product{height:380px; width:99%; border-bottom:none; padding:10px 10px 10px 0!important}
		 #checkout .checkout-content input[type='radio'], #shipping-method .checkout-content input[type='radio'], #payment-method .checkout-content input[type='radio'] {margin-top:-5px; vertical-align:0}	
		 #payment-address .checkout-content select{width:98%}
		 #checkout .checkout-content input[type="text"], #checkout .checkout-content input[type="password"]{width:96%}
		
		 /*category*/
		 
		 .category-list ul{width:100%}
		 .category-info p, .category_content h2, .category-list ul li a{font-size:14px; line-height:20px}
		 .category-info{margin-top:0; background:url("../image/categoryinfo_bg.jpg") repeat-x bottom}
		 .category-info .image img{max-width:250px}
		 .form-choice-category{display:none}
		 .product-grid{padding:0}
		 .product-grid div.one-product-box{width:100%; padding-right:0; height:auto; margin-bottom:30px}
		 .product-grid .image{float:left}
		 .product-grid .description{display:block; font-size:11px; color:#868585; margin-bottom:5px}
		 .product-grid .wishlist, .product-grid .compare{float:left; width:100%; overflow:hidden; text-align:left; display:block}	
		 .product-grid .wishlist a, .product-grid .compare a{display:inline}
		 .product-grid .description{font-size:14px; line-height:20px}	
		 .product-grid .image{width:100%; text-align:center}
		.product-info{padding-left:0; margin-top:0}
		.product-info .left{width:100%; margin:0}
		.product-info .image{margin:0 0 30px; padding:10px}
		.product-info .image-additional .es-carousel ul li div.boss-image-add{margin:0; width:75px;}
		.product-info .image-additional a{margin-bottom:0}
		.product-info .image-additional .es-carousel ul li div.boss-image-add img{margin:0 3px 0 0}
		.product-info .right{margin:10px 0 0; width:100%}
		.product-info .options select{width:73%}
		.product-info .options .option input[type="text"], .product-info .options .option textarea, .product-info .options #option-219 input, .product-info .options #option-221 input, .product-info .options #option-220 input{width:71%}
		.product-info .options .box-check{width:100%; margin-bottom:20px}
		.product-info .options #option-219, .product-info .options #option-221{width:100%; }
		#tab-description.tab-content img{max-width:300px}
		h1.ta-related{margin-top:20px}
		h2.ta-header{ 
			font:400 14px HelveticaBold;
			text-transform:uppercase;
			color:#A4A4A4;}
		h2.ta-header span{cursor: pointer; }
		h2.ta-header.selected{color:#01A2D8;}
		
		 #tab-related{width:100%; padding:30px 0 0!important}
		 #tab-related .es-carousel ul li div.boss-tab-related{width:100%}
		 #tab-review input[type="text"], #tab-review textarea{width:96%!important}
		 /*shopping cart*/
		.shopping-cart{background:none}
		.cart-info{width:100%; padding:0 0 15px}
		.cart-info thead .image, .cart-info thead .model, .cart-info tbody .model, .cart-info thead .price, .cart-info tbody .price{ display:none}
		.cart-info tbody .image{padding:0; width:auto}
		.cart-info tbody .image img{display:none}
		.cart-info thead td.name { padding-left: 7px;}
		.cart-info thead .quantity{padding-left: 20px; text-align: left;}
		.cart-info thead td{padding:7px}
		.cart-info tbody .total{border-right:none}
		.cart-info tbody .quantity input[type="text"]{width:42px;}
		.cart-info tbody td{padding:20px 10px 10px 10px}
		.cart-info tbody .quantity{padding:15px 7px 0; width:88px;}
		.cart-info tbody td .cart-image .bt_remove{position:static; float:left; margin-top:15px}
		.cart-info tbody .name{width:auto; padding:24px 0 7px 7px; font-size:12px}
		.cart-info tbody .total{font-size:13px; padding:25px 7px 0 0}
		.cart-module{padding-left:0}
		.cart-module tr td select{width:100%}
		.cart-module table tr td{padding-bottom:7px; vertical-align:top}
		.cart-total td.price, .cart-total td.title{padding:0; line-height:20px}
		.cart-total table{padding-right:0}
		#content .content.frame_shopping table.radio td input[type="radio"], 
		#cboxLoadedContent table.radio tr td:first-child input[type="radio"]{margin-top: -2px; vertical-align: 0px;}
		/*account*/
		#content form.return-form .content .left, #content form.return-form .content .right{width:100%}
		.return-reason, .return-opened{width:100%; margin-bottom:20px}
		.return-opened textarea{width:90%}
		#content.search_form .product-grid .one_product{width:100%}
		.manufacturer-list ul{width:50%}
		.address_list table tr td a.button{float:left; clear:both}
		/* order_info */
		.order_info thead .model, .order_info tbody .model, .order_info tfoot .model, .order_info thead .price, .order_info tbody .price, .order_info tfoot .price{ display:none}	
		form.gift-vourcher table tr td input[type="radio"]{margin-bottom:5px}
		form.register table.form td{min-width:0}
		#footer h3{margin-bottom:5px}
		#footer .column{width:100%; margin:0 0 20px}
		#footer .partner{padding-top:0}
		#footer .partner h3{display:block; width:100%; margin:0 0 20px}
		#footer .partner ul li{height:42px; margin:0 8px 10px 0}
		.footer-Category ul{text-align:left}
		.footer-Category ul li + li, .footer-Category ul li{background:url("../image/line_fct.jpg") no-repeat scroll right center transparent; margin:0 3px 0 0; padding:0 8px 0 0}
		#powered{text-align:left}
		.banner-home-3.banner-block01{margin-bottom:6px}
		.banner-home-3.banner-block02{margin-bottom:3px}
		.banner-home-3.banner-block03{margin-bottom:2px}
		.boss_homefilter{margin-bottom:0}
		.boss_home_filter, .boss_category_content{padding:0; margin-bottom:10px}
		.boss_home_filter .box-heading{font:400 11px HelveticaBold; color:#707070; text-transform:uppercase; padding:7px 14px 8px; cursor:pointer; background:url("../image/filter_tab_bg.jpg") repeat-x bottom}
		.boss_home_filter .box-heading img{margin-right: 5px; vertical-align: -5px;}
		.boss_home_filter .box-heading.active{background:url("../image/filter_tab_select.jpg") repeat-x scroll 0 0 #FFFFFF; }
		.boss_home_filter .box-content{background:url("../image/filter_tab_bg.jpg") repeat-x scroll bottom; padding:0 20px 20px}
		.boss_home_filter .one-product-filter{border:none; width:auto; height:auto; padding:0 20px 0 0}
		.boss_home_filter .es-nav span.es-nav-next, .boss_home_filter .es-nav span.es-nav-prev{top:-21px}
		.boss_home_filter .cart{display:block}	
		.boss_category_tabs{width:100%}
		.boss_category_content .box-heading{
			background: url("../image/filter_tab_bg.jpg") repeat-x scroll center bottom transparent;
			color: #707070;
			cursor: pointer;
			font: 400 11px HelveticaBold;
			padding: 11px 14px 8px;
			text-transform: uppercase;
			height:16px;
			border:none
		}
		.boss_category_content .box-heading.selected{background:url("../image/filter_tab_select.jpg") repeat-x scroll 0 0 #FFFFFF;}
		.boss_category_content .box{margin-bottom:0!important}
		.boss_category_content .box-content{
			background: url("../image/filter_tab_bg.jpg") repeat-x scroll center bottom transparent; padding: 0 20px 20px;
		}
		.boss_category_content .one-product-category{width:auto; padding:0 20px 0 0; border:none; height:auto}
		.boss_category_content .cart{display:block}
		.b-es-carousel-wrapper{padding:24px 25px; margin-bottom:20px}
		
		span.text-zoom{display:none}
	}
	

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {		
		body{-webkit-text-size-adjust: none; }
		#column-left + #column-right + #content, #column-left + #content{width:420px; margin-left:0}
		.cart-info tbody .price, .cart-info tbody .total{padding-top:18px}
		.cart-module table tr td:first-child{width:100px; vertical-align:top; padding-top:7px}
		.cart-info tbody .price, .cart-info tbody .total{padding-top:25px}
		#header #search input{width:92%}
		#mb-search input[type='text']{width:89%;}
		.banner-home-3 a.banner-1 img{width:420px; height:115px}
		.slideshow .flexslider .slides img{width:420px; height:218px; border-radius:4px}
		.slideshow .flex-direction-nav a{top:113px}
		.boss_category_content .es-nav span.es-nav-next{top:-31px; right:-2px}
		.boss_category_content .es-nav span.es-nav-prev{top:-31px}
		.boss_home_filter ul li{width:50%; margin: 20px 0 15px; height: 350px;}
		.boss_category_content .box-content ul li{width:50%; margin: 20px 0 15px; height:350px}
		#tab-related .es-carousel ul li{width:50%; min-height: 290px;}
		.cart-module .content select{margin:0; width:408px}
		.cart-module tr td input[type='text']{width:400px; margin-bottom:0}
		a.forgotten{vertical-align: 0px;}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) { 
		body{-webkit-text-size-adjust: none; font-size:14px}
		 
		#content{min-height:150px;margin-bottom:15px;}
		#column-left{display:none}
		#column-left + #column-right + #content, #column-left + #content{width:300px; margin-left:0}
		table.form tr td:first-child{width: 30%;}
		input[type="text"], input[type="password"], textarea {margin: 5px 0;width: 96%;}
	    select.large-field{width:99%}
		 form.contact-us .content input[type="text"], form.contact-us .content textarea{width:290px!important}
		#mb-search input[type='text']{width:85%}
		 table.list.order_info thead tr td{font-size:12px}
		#tab-related .es-carousel ul li{width:100%; min-height: 290px; padding-bottom:30px!important}	
		 .search_form select{width:100%}
		 .search_form input[type='text']{width:97%}
		 .sitemap-info .left, .sitemap-info .right{width:100%}
		 .product-info .image img{min-width:250px}
		 .product-info .image-additional{padding-left:0; width:100%}
		 .product-grid .discount{right:92px}
		.banner-home-3 a.banner-1 img{width:300px; height:82px}
		.slideshow .flexslider .slides img{width:300px; height:156px; border-radius:4px}
		.slideshow .flex-direction-nav a{top:50%}
		.boss_home_filter ul li{width:100%; margin: 20px 0 0}
		.boss_category_content .box-content ul li{width:100%; margin: 20px 0 0}
		.boss_home_filter ul li{border-top:1px solid #DEDCDC; padding-top:20px}
		.boss_home_filter ul li:first-child{border-top:none; padding-top:0}
		.boss_category_content ul li{border-top:1px solid #DEDCDC; padding-top:20px}
		.boss_category_content ul li:first-child{border-top:none; padding-top:0}
		
		.cart-module .content select, .cart-module .content input[type="text"]{margin:0; width:97%}
		.cart-module tr td input[type='text']{width:97%; margin-bottom:0}
		form.newsletter td span {
			display: block;
			padding-top: 0;
		}		
		.breadcrumb a + a , .breadcrumb a{
			background: url("../image/breadcrumb.png") no-repeat scroll right center transparent;
			margin:0 9px 0 0;
			padding:0 13px 0 0;
		}
		.breadcrumb a:last-child{background:none}
		a.forgotten{vertical-align: 0px;}
	}


