*{margin:0px;padding:0px;outline:0;}
ul,ol{list-style-type:none;}
body {
    color: #626262;
    font-family:Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-align: left;
	background:url(../image/header_bg.jpg) repeat-x top}
h1{margin-bottom:15px; color:#00b0e1; font:400 16px 'HelveticaBold'; text-transform:uppercase}
h2 {color: #303030; text-transform:uppercase; margin-bottom:11px; font:400 14px HelveticaBold}

a, a:visited,a {color: #555; outline: medium none; text-decoration: none; cursor:pointer}
a:hover {text-decoration:underline;}
a img {border: none;}
form {display: inline;}
input[type='text'], input[type='password'] {border:1px solid #cecece;padding:0 3px 1px 4px;margin:0px;height:27px;line-height:26px;width:340px; color:#7f7a6d; font-size:11px; font-family:Arial}
textarea{padding:3px; border:1px solid #cecece; color:#7F7A6D; font-size:11px; font-family:Arial}
input[type='radio']{vertical-align:-1px; cursor:pointer}
input[type='checkbox']{vertical-align:-2px; cursor:pointer}
select {border:1px solid #cecece;padding:6px 2px;color:#7f7a6d; font-size:11px; cursor:pointer;}
label {cursor:pointer;}
p{margin-bottom:10px; line-height:16px}
/* layout */
.frame_container{background:url(../image/header.jpg) no-repeat top center}
#container {
	/*width: 960px;*/
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
#column-left {
	float: left;
	width: 214px;
}
#column-right {
	float: right;
	width: 214px;
}
body.home_page #column-right{width:185px; margin-left: 9px;}
#content {
	min-height: 400px;
	margin-bottom: 25px;
}
#column-left + #column-right + #content, #column-left + #content {
	margin-left: 240px;
}
#column-right + #content {
	margin-right: 240px;
}
/* header */
.header-top{float:left; width:100%; height:34px}
.header-middle{float:left; width:100%; height:99px}
.header-bottom{clear:both; float:left; width:100%; margin-bottom:0}
#header {
	position: relative;
	z-index: 99;
}
#header #logo {float:left; padding-top:35px
}
#language { float:right; padding-top:3px; }
#language select {
	background:none;
	border:none;
	font:400 10px HelveticaBold;
	text-transform:uppercase;
	color:#bcbcbc;
	filter: alpha(opacity=50);
}
#language select option{padding:0 5px; text-align:center}
#currency { float:right; padding-top:3px}
#currency select {
	background:none;
	border:none;
	font:400 10px HelveticaBold;
	text-transform:uppercase;
	color:#bcbcbc;
	text-align:left;
	filter: alpha(opacity=50);
	
}
#currency a b {
	color: #000;
	text-decoration: none;
}

#header #cart { float:right; background:url(../image/bg_cart.jpg) repeat-x; height:45px; width:183px; z-index:9; position:relative; padding:0 10px 0 0}
#header #cart .heading {
	z-index: 1;
	background:url(../image/arrow_cart.png) no-repeat right 5px;
	
}
#header #cart .heading h4 {
	display:none
	
}
#header #cart .heading a {
	text-decoration: none;
	margin:15px 0 0 5px;
	display:inline-block;
	padding-bottom:20px;
	font:400 14px HelveticaBold;
	color:#fff;
	text-transform:uppercase;
	letter-spacing:-1px;
	display:block;
	text-align:center
}
#header #cart .heading a span {
	padding-right: 0;
}
#header #cart .content {
	clear: both;
	display: none;
	position: absolute;
	top: 39px;
	right:0;
	min-height: 100px;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;
	background: url(../image/dropdown_cart.png) no-repeat top center;
	width:310px;
	padding-top:6px;
}
#header #cart .content .bg_content{border:1px solid #cececc; border-top:none; background:#fff}
#header #cart.active .content {
	display: block;
}
.mini-cart-info{margin:0 17px 9px; border-bottom:1px solid #d9d9d9; padding-top:15px}
.mini-cart-info table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
}
.mini-cart-info td {
	vertical-align: top;
	padding: 10px 5px;
}
.mini-cart-info td.name{padding:10px 5px 10px 15px;}
/*.mini-cart-info .image {
	width: 1px;
}*/
.mini-cart-info .thumb_image{position:relative}
.mini-cart-info .thumb_image .remove{position:absolute; top:0; left:0}

.mini-cart-info .image img {
	text-align: left;
}
.mini-cart-info div.name{margin-bottom:8px}
.mini-cart-info div.subs{}
.mini-cart-info .name small {
	color: #666;
}
.mini-cart-info .name a, .mini-cart-info .name span{color:#3A3A3A; font:400 12px HelveticaBold}
.mini-cart-info .quantity {color:#505050;}
.mini-cart-info .total { color:#D0344A; font:700 15px Arial; float:left; margin-right:14px; margin-top:-1px; margin-bottom:6px;}
.mini-cart-info .remove { display:block; clear:both}
.mini-cart-info .remove a{color:#9e9d9d; text-transform:uppercase; font:700 10px Arial}
.mini-cart-total {
	text-align: left;
	padding:0 17px 0;
}
.mini-cart-total table {
	border-collapse: collapse;
	display: inline-block;
	margin-bottom: 5px;
}
.mini-cart-total td {
	padding: 4px 10px 0 0;
}
.mini-cart-total td.left{color:#9e9d9d; text-transform:lowercase}
.mini-cart-total td.right{color:#5f5f5f; font:700 14px Arial}
.mini-cart-total td.right.last{color:#d0344a; }
#header #cart .checkout {
	text-align: left;
	clear: both;
	padding:10px 17px 26px
}
#header #cart .checkout a{margin-right:8px}
#header #cart .empty {
	padding: 45px 0;
	text-align: center;
}
#boss-search{float:left; height:40px; background:url(../image/bg_box_search.jpg) repeat-x; text-align:center; padding-top:5px; width:554px}
#boss-search .choose-select{}
#boss-search .choose-select .bkg_input_search{color:#555454; font-size:11px; border:none; background:url(../image/bg_inputsearch.png) no-repeat;  width:312px; height:32px; float:left; padding:2px; display:inline; margin-left:10px}
#boss-search .choose-select .bkg_input_search input[type='text']{width:302px; border:none; padding:0 5px; height:32px;  float:left;  background:none; font-size:11px; color:#555454; line-height:16px;}
#boss-search .choose-select .input_cat{
	 background: url("../image/bg_selectsearch.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    float: left;
    height: 32px;
    margin: 0;
    padding: 2px 3px;
    width: 173px;
}
#boss-search .choose-select .input_cat select{color:#555454; font-size:11px;
    border: 0 none;
    cursor: pointer;
    float: left;
	background:none;
    height: 26px;
    padding: 5px 1px 3px 5px;
    width: 167px;
	margin-top:3px;
	line-height:19px}
#boss-search .choose-select select option{padding-left:5px; color:#555454}
#boss-search  input.button-search{background:url(../image/button_search.png) no-repeat; width:37px; height:35px; border:none; text-indent:-9999px; display:inline; cursor:pointer; font-size:0; float:left; line-height:0}
#static-header-bottom{float:left; width:745px}
.banner-home-1{float:left; margin:0 0 8px 10px}
.banner-home-2{float:right; margin:11px 0 0}
.banner-home-2 a{display:block; margin:0 0 7px}
#header #welcome {
}
#boss-login {position:relative; float:left; font-size:11px; color:#fff; padding-top:9px; z-index:999}
#boss-login a{color:#01a2d8}
#boss-login a.button_pink{float:left}
#boss-login a.forgotpass {color:#e44057; font-size:11px; text-align:right; float:right; margin-top:8px;}
#boss-login ul li{float:left; margin-right:2px;padding-bottom:10px}
#boss-login ul li a#bt-login{}
#boss-login ul li.login-li #content-login{display:none}
#boss-login ul li.login-li:hover #content-login{display:block}
.content-login{}
.login-bor{ background:url(../image/login_frame.png) no-repeat top center; position:absolute;z-index:100; left:0; top:28px; width:312px; display:inline-block}
.login-frame{background:#fff; border:1px solid #cececc; border-top:none;  padding:17px; margin-top:6px; display:inline-block}
.login-frame input[type='text'], .login-frame input[type='password']{width:267px; margin-bottom:11px; color:#9e9d9d; font-size:11px}
.login-frame a.button{float:left}
#header #welcome #boss-login .login-frame a.forgotpass{float:right; color:#dd1717; font-size:11px; margin-top:7px;}

#header .links { float:right; padding-top:10px; padding-right:10px}
#header .links a {
	float: left;
	display: block;
	font:400 10px HelveticaBold;
	color:#BCBCBC;
	text-transform:uppercase;
	margin-left:18px
}
#header .links a + a {
}
.static-header-top{float:right; padding-top:37px}
.static-header-top .static-header{float:left; padding-left:16px; margin-left:15px; background:url(../image/header_line.png) no-repeat left 1px}
.static-header-top .static-header:first-child{background:none}
.static-header-top .static-header a{float:left; padding-right:10px}
.static-header-top .static-header h4{font:400 15px HelveticaBold; text-transform:uppercase; color:#fff}
.static-header-top .static-header h4 span{color:#01a2d8}
.static-header-top .static-header p{color:#d8d8d8; font-size:12px}
.static-header-top .static-header .static-content{float:left}
/* menu */
.home_page #boss_menu{}
.home_page #boss_menu > ul.display-menu{display:block; position:static}
#boss_menu {
	clear:both;
	width:215px;
	float:left;
	position:relative;
	z-index:9
}
#boss_menu h3{font:400 17px HelveticaBold; color:#1d1d1d; text-transform:uppercase; background:url(../image/bg_menu_h3.jpg) repeat-x; display:block; cursor:pointer; height:34px; padding:10px 20px 0 13px; 
	border:1px solid #dedcdc;
	border-bottom:none;
	border-radius:3px 0 0 0;
	-moz-border-radius:3px 0 0 0;}
.other_page 	#boss_menu h3{border-bottom:1px solid #dedcdc; height:33px;}
#boss_menu h3 span{background:url(../image/menu_h3_arrow.png) no-repeat right center; display:block}
#boss_menu > ul.display-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	display:none;
	top:44px;
	left:0;
	position:absolute;
	border:1px solid #e9e9e9;
	border-top:none;
	width:213px;
	background:#fff;
}
#boss_menu:hover  ul.display-menu{display:block}
#boss_menu > ul > li {
	position:relative;
	z-index:20;
	display:block;
	height:36px;
}
#boss_menu > ul > li > a {
	font-size: 12px;
	color: #7d7d7d;
	text-decoration: none;
	display: block;
	z-index: 6;
	position: relative;
	padding:10px 0 0 19px;	
}
#boss_menu > ul > li.last{padding-bottom:4px}
#boss_menu > ul > li.odd{background:#fff; border-top:1px solid #e9e9e9;}
#boss_menu > ul > li.even{background:url(../image/even_menu.jpg) repeat-x bottom; border-top:1px solid #e9e9e9; height:34px}
#boss_menu > ul > li.odd:hover{background:url(../image/odd_hover_menu.jpg) repeat-x 0 1px;}
#boss_menu > ul > li.even:hover{background:url(../image/even_menu_hover.jpg) repeat-x 0 1px; }
#boss_menu > ul > li:hover > a{font:400 14px HelveticaBold; color:#fff; text-transform:uppercase; padding-top:10px}
#boss_menu > ul > li > div.dropdown {
	display: none;	
}
#boss_menu  ul.display-menu > li:hover > div.dropdown{display:block;background: #FFF;
	margin: 0px auto 0px;
	position: absolute;
	z-index: 5;
	left:213px;
	top:0;
	border:1px solid #cececc;
	-webkit-box-shadow: 0 2px 7px #C3C1C1;
	-moz-box-shadow: 0 2px 7px #C3C1C1;
	box-shadow: 0 2px 7px #C3C1C1;}
#boss_menu > ul > li > div.dropdown{padding:26px 0 0;  }
#boss_menu > ul > li > div.dropdown a.parent{color:#3a3a3a; font:700 14px Arial; padding-left:20px; display:inline-block; padding-bottom:13px}
#boss_menu > ul > li > div.dropdown ul.product{}
#boss_menu > ul > li > div.dropdown ul.product li{color:#d0344a; font:700 15px Arial;padding:0 20px 20px}
#boss_menu > ul > li > div.dropdown ul.product li span{display:block; line-height:14px; margin-bottom:6px}
#boss_menu > ul > li > div.dropdown ul.product li span a{color:#3a3a3a; font:400 12px HelveticaBold}
#boss_menu > ul > li > div.dropdown ul.category{}
#boss_menu > ul > li > div.dropdown ul.category li{padding:0 20px 9px; }
#boss_menu > ul > li > div.dropdown ul.category li a{color:#787878; font-size:12px; display:inline}
#boss_menu > ul > li > div.dropdown ul.category li a:hover{text-decoration:none; color:#000}
#boss_menu > ul > li > div.dropdown .column.category li a img {
    display: block;
    margin: 0 0 15px 0;
}
#boss_menu > ul > li > div.dropdown .option ul li a img + span {
    color: #3A3A3A;
    margin-left: 15px;
    text-align: left;
	font:400 12px HelveticaBold;
	display:block;
	text-transform:capitalize
}
#boss_menu > ul > li > div.dropdown .option{padding-bottom:20px}
#boss_menu > ul > li > div.dropdown .option ul li a img + span:hover{color:#d0344a}
#boss_menu > ul > li > div.dropdown ul.informations{}
#boss_menu > ul > li > div.dropdown ul.informations li{padding-left:20px; padding-bottom:9px}
#boss_menu > ul > li > div.dropdown ul.informations li a{color:#787878}
#boss_menu > ul > li > div.dropdown ul.informations li a:hover{color:#000; text-decoration:none}
#boss_menu > ul > li > div.dropdown .staticblock{padding:0 20px}
#boss_menu > ul > li > div.dropdown .staticblock h4{color:#3a3a3a; font:700 14px Arial; margin-bottom:3px}
#boss_menu > ul > li > div.dropdown .staticblock p{color:#787878; font-size:12px; line-height:16px}
#boss_menu > ul > li > div.dropdown ul.manufacturer li{margin-top:20px; margin-left:20px}
#boss_menu > ul > li > div.dropdown ul.manufacturer li:first-child{margin-top:0}
#boss_menu > ul > li > div > ul > li > a {
	color: #464646;
}

#boss_menu .option ul li {position: relative}
#boss_menu ul li ul li > div{
	z-index:500;
	background: #FFFFFF;
	padding: 26px 0 17px 20px;
	border: 1px solid #CECECC;
}
#boss_menu ul li ul li div.sub_menu{
	position:absolute;
	top:-27px;
	left:100%;
	width:100%; 
}
#boss_menu ul li ul li div.sub_menu ul li{padding:0 0 9px!important}
#boss_menu li li div.sub_menu, #boss_menu li li div.sub_menu li  div.sub_menu, #boss_menu li li div.sub_menu li  div.sub_menu li div.sub_menu{display:none}
#boss_menu li li:hover div.sub_menu, #boss_menu li li div.sub_menu li:hover  div.sub_menu, #boss_menu li li div.sub_menu li  div.sub_menu li:hover  div.sub_menu{display:block}

.slideshow {
    float: left;
    margin: 11px 9px 5px 10px;
    width: 533px;
}
p.flex-caption{margin:0}

.breadcrumb {
	margin:16px 0 13px
}
.breadcrumb a{color:#9e9d9d; font:400 11px HelveticaBold; text-transform:uppercase;}
.breadcrumb a + a{background:url(../image/breadcrumb.png) no-repeat left; padding-left:13px; margin-left:9px;}
.breadcrumb a.last{color:#01a2d8}
.success, .warning, .attention, .information {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	font:400 11px HelveticaRegular;
	text-transform:uppercase
}
.success {
	background: #c5edfb url('../image/success.png') 10px center no-repeat;
	border: 1px solid #7ddbfb;
	color:#01a2d8
}
.warning {
	background: #fbc5c5 url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #fb7d7d;
	color:#d80101
}
.attention {
	background: #fbc5c5 url('../image/attention.png') 10px center no-repeat;
	border: 1px solid #fb7d7d;
	color:#d80101;
}
.success .close, .warning .close, .attention .close, .information .close {
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer;
}
.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	display: block;
	color: #FF0000;
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
table.form {
	width: 100%;
	border-collapse: collapse;
}
table.form tr.highlight td:first-child {
	width: 150px;
}
table.form > * > * > td {
	color: #6f6f6f;
}
table.form td {
	padding: 4px 4px 4px 0;
}
input.large-field, select.large-field {
	width: 300px;
}
table.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
table.list td {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
table.list thead td {
	background-color: #EFEFEF;
	padding: 0px 5px;
}
table.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
table.list tbody td {
	vertical-align: top;
	padding: 0px 5px;
}
table.list .left {
	text-align: left;
	padding: 7px;
}
table.list .right {
	text-align: right;
	padding: 7px;
}
table.list .center {
	text-align: center;
	padding: 7px;
}
table.radio {
	width: 100%;
	border-collapse: collapse;
}
table.radio td {
	padding: 5px 5px 5px 0;
	vertical-align: top;
}
table.radio td label {
	display: block;
}
table.radio tr.highlight td:first-child {
	width: 1px;
}

table.radio tr.highlight:hover td {
	background:none;
	cursor: pointer;
}
.pagination {
	border-top: 1px solid #e0e0e0;
	padding-top: 21px;
	display: inline-block;
	width: 100%;
}
.pagination .links {
	float: left;
}
.pagination .links a {
	display: inline-block;
	color: #474747;
	margin-right:14px
}
.pagination .links b {
	display: inline-block;
	color: #01A2D8;
	margin-right:14px
}
.pagination .results {
	float: right;
	padding-top: 3px;
	color:#474747;
}
/* button */
a.button, input.button {
}
a.button {
}
a.button_black{
	 background: url("../image/black_left.png") no-repeat scroll left 0 transparent;
    display: inline-block;
    height: 29px;
    padding-left: 3px;
    text-decoration: none;
}
a.button_black span{
	background: url("../image/black_right.png") no-repeat scroll right 0 transparent;
    border: medium none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 0 10px 0 7px;
    text-decoration: none;
    text-transform: uppercase;
	font:400 12px/30px HelveticaBold;
    height: 29px;
}
a.button_pink{
	 background: url("../image/pink_left.png") no-repeat scroll left 0 transparent;
    display: inline-block;
    height: 29px;
    padding-left: 3px;
    text-decoration: none;
}
a.button_pink span{
	background: url("../image/pink_right.png") no-repeat scroll right 0 transparent;
    border: medium none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 0 10px 0 7px;
    text-decoration: none;
    text-transform: uppercase;
	font:700 12px/30px Arial;
    height: 29px;
}
span.button_pink{
	 background: url("../image/pink_left.png") no-repeat scroll left 0 transparent;
    display: inline-block;
    height: 29px;
    padding-left: 3px;
    text-decoration: none;
}
span.button_pink input{
	background: url("../image/pink_right.png") no-repeat scroll right 0 transparent;
    border: medium none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 0 10px 0 7px;
    text-decoration: none;
    text-transform: uppercase;
	font:700 12px/30px Arial;
    height: 29px;
    line-height: 28px;
	white-space: normal;
	overflow:visible
}
.buttons {
	overflow: hidden;
	margin-bottom: 20px;
}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .right {
	float: right;
	text-align: right;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.htabs {
	height: 25px;
	line-height: 16px; 
}
.htabs a {
	float: left;
	font-family:'HelveticaBold';
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	color: #a4a4a4;
	display: none;
	margin-right:25px;
	text-transform:uppercase;
}
.htabs a.selected ,.htabs a:hover{color:#01a2d8}
.htabs a.selected {cursor:default}
.tab-content {
	padding: 10px 0 ;
	margin-bottom: 20px;
	z-index: 2;
}
#tab-review .warning{margin:0 0 10px}
#tab-review b{color:#787878;}
h2.ta-status, h2#review-title{color:#1d1d1d}
.tags{padding: 20px}
/* box */
.box {
	margin-bottom: 20px;
}
.box .box-heading {
}
.box .box-content {
}
.box.account{border:1px solid #dedcdc}
.box.account .box-heading{background:url(../image/bg_box.jpg) repeat-x; height:36px; color:#1d1d1d; font:400 14px HelveticaBold; text-transform:uppercase; border-bottom:1px solid #dedcdc; padding: 0 14px; line-height:36px}
.box.account .box-content{}
.box.account .box-content ul{padding:18px 0 0}
.box.account .box-content ul li{padding:0 20px 15px}
.box.account .box-content ul li a{color:#787878;}
form.edit_affiliate table.form td select{width:348px}
p.choose_search{margin:10px 0}
p.choose_search b{font-weight:400;}
p.choose_search select{width:391px;}
p.choose_search input[type='text']{padding:0 3px}
/* box products */
.box-product {
	width: 100%;
	overflow: hidden;
}
.box-product > div.one-product {
	padding:18px 13px;
	border-bottom:1px solid #eeeeee	
}
.box-product > div.one-product.last{border-bottom:none}
.box-product.box-featured > div.one-product{padding-right:5px}
.box-product.box-featured > div.one-product .image{float:left; margin-right:15px}
.box-product.box-featured > div.one-product .price{font-size:14px}
.box-product.box-featured > div.one-product .name{margin-bottom:9px}
.box-product.box-featured > div.one-product .name a{color:#3a3a3a}
#column-left + #column-right + #content .box-product > div {
	width: 119px;
}
.box-product .image {
	display: block;
	margin-bottom: 0px;
}
.box-product .image img {
}
.box-product .name{margin-bottom:18px}
.box-product .name a {
	color: #1d1d1d;
	font:400 12px HelveticaBold;
}
.box-product .price {
	display: block;
	font-weight: bold;
	font-size:16px;
	color: #d0344a;
	margin-bottom: 4px;
}
.box-product .price-old {
	color: #787878;
	text-decoration: line-through;
}
.box-product .price-new {
}
.box-product .rating {
	display: none;
}
.box-product .cart{display:none}
.mfacturer{}
.mfacturer .box-content p{margin:22px 13px 7px}
.mfacturer .box-content select{width:188px; border:1px solid #c9c9c9; color:#6d6d6d; font-size:11px; margin:0 13px 13px}
#column-left .box.column-alphabet{padding-bottom:15px}
#column-left .box.column-alphabet .box-heading{background:none; border-bottom:none; color:#6d6d6d; text-transform:none; font:400 12px Arial; padding:16px 17px; height:auto}
/* box category */
.box-category {padding:15px 12px 0}
.box-category ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.box-category > ul > li {
	padding:0 0 9px 0
}
.box-category > ul > li + li {}
.box-category > ul > li > a {
	color: #787878;
	font-size:12px
}
.box-category > ul > li > a:hover{text-decoration:none; color:#17A8FB}
.box-category > ul > li ul {
	display: none;
}
.box-category > ul > li a.active {
	font-weight: 400; font-size:12px; color:#17a8fb; background:url(../image/arow.png) no-repeat right; padding-right:14px
}
.box-category > ul > li a.active + ul {
	display: block; padding-bottom:13px
}
.box-category > ul > li ul > li {
	padding: 9px 5px 0 17px
}
.box-category > ul > li ul > li > a {
	display: inline;
	color:#787878;
	font-size:12px
}
.box-category > ul > li ul > li > a:hover{text-decoration:none; color:#17A8FB}
.box-category > ul > li ul > li > a.active {
	font-weight: bold;
}
#column-left .box{background:url(../image/boss-category-bg.jpg) repeat-x bottom; border:1px solid #ccc; padding:0 0 9px}
#column-left .box .box-heading{background: url("../image/bg_box.jpg") repeat-x scroll 0 0 transparent;
    border-bottom: 1px solid #DEDCDC;
    color: #1D1D1D;
    font: 400 14px/36px HelveticaBold;
    height: 36px;
    padding: 0 14px;
    text-transform: uppercase;}
#column-right .box{background:url(../image/boss-category-bg.jpg) repeat-x bottom; border:1px solid #dedcdc; padding:0 0 9px}
#column-right .box .box-heading{background: url("../image/bg_box.jpg") repeat-x scroll 0 0 transparent;
    border-bottom: 1px solid #DEDCDC;
    color: #1D1D1D;
    font: 400 14px/36px HelveticaBold;
    height: 36px;
    padding: 0 14px;
    text-transform: uppercase;}
/* content */
#content .content {
	overflow: hidden;
	margin-bottom:20px
}
#content .content .left {
	float: left;
	width: 49%;
}
#content .content .right {
	float: right;
	width: 49%;
}
form.gift-vourcher table.form{margin-bottom:20px}
form.gift-vourcher table.form td input[type='radio']{margin-bottom:8px}
/* category */
.category-info {
	overflow: hidden;
	margin-bottom: 29px;
	background:url("../image/categoryinfo_bg.jpg") repeat-x;
	border:1px solid #dedcdc;
	border-radius:3px;
	-moz-border-radius:3px;
	padding:7px 21px 8px;
}
.category-info h1{}
.category-info .image {
	float: left;
	margin:0 15px 0 0;
}
.category-info h4{color:#1f2021; font-size:12px;font-weight:400; font-family:'allerbold'; text-transform:uppercase; margin-bottom:16px}
.category-info p{color:#323232; font-size:12px; line-height:16px; margin-bottom:15px; margin-top:23px}
.category-list {
	overflow: hidden;
	margin-bottom: 13px;
	background:url(../image/line_category.jpg) repeat-x bottom;
	padding-bottom:28px;
}
.category-list h1{margin-bottom:25px}
.category-list h2{color:#d0344a; font-size:14px;font-weight:400; font-family:'HelveticaRegular'; text-transform:capitalize; margin-bottom:14px}
.category-list ul {
	float: left;
	width: 33%;
}
.category-list ul li{margin-bottom:10px}
.category-list ul li a{font-size:12px; color:#787878}
/* manufacturer */
.manufacturer-list {
	border: 1px solid #DBDEE1;
	padding: 5px;
	overflow: auto;
	margin-bottom: 20px;
}
.manufacturer-heading {
	background: #F8F8F8;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 8px;
	margin-bottom: 6px;
}
.manufacturer-content {
	padding: 8px;
}
.manufacturer-list ul {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
}
/* product */
.product-filter {
	display:inline-block;
	width:100%;
}
.product-filter .display {
    float: right;
    margin-left: 10px;
}
.product-filter .display a {
    font-weight: bold;
}
.product-filter .display span.active-gird {
    background: url("../image/active-gird.png") no-repeat scroll center center transparent;
	margin-right:-2px;
}
.product-filter .display a.no-active-gird {
    background: url("../image/no-gird.png") no-repeat scroll center center transparent;
	margin-right:-2px;
}
.product-filter .display a.no-active-list {
    background: url("../image/no-acti-list.png") no-repeat scroll center center transparent;
}
.product-filter .display span.active-list {
    background: url("../image/active-list.png") no-repeat scroll center center transparent;
}
.product-filter .display b {
    display: none;
}
.product-filter .display a.no-active-gird, .product-filter .display span.active-list, .product-filter .display span.active-gird, .product-filter .display a.no-active-list {
    display: block;
    float: right;
    height: 24px;
    text-indent: -9999px;
    width: 26px;
}
 
.product-filter .limit {
    color: #333333;
    float: right;
    margin-left: 13px;
}
.product-filter .limit select {
    color: #9e9d9d;
    font-size: 11px;
    height: 24px;
    width: 168px;
	padding:4px 2px 3px;
	line-height:18px;
}
.product-filter .limit select option {
    padding-left: 5px;
}
.product-filter .sort {
    color: #333333;
    float: right;
}
.product-filter .sort select {
    color: #9e9d9d;
    font-size: 11px;
    height: 24px;
    width: 168px;
	padding:4px 2px 3px;
	line-height:18px;
}
.product-filter .sort b, .product-filter .limit b {
    color: #444;
    font-size: 10px;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
}
.product-filter .sort select option {
    padding-left: 5px;
}
.product-compare {
    float: left;
    margin-bottom: 25px;
	margin-top:5px;
}
.product-compare a {
    font-family: 'HelveticaBold';
    font-weight: 400;
    text-decoration: none;
	color:#01a2d8;
	font-size:12px;
}
.product-compare a:hover{color:#08BCD2}
.product-list {margin-bottom:62px}
.product-grid{margin-bottom:0}
.product-list  div.one-product-box {
	overflow: hidden;
	margin-bottom: 35px;
}
.product-list .left{
	float: left;
    line-height: 4px;
    margin-right: 20px;
    padding-bottom: 7px;
    position: relative;
    width: 160px;
}
.product-list .right {
	float: left; width:75%
}
.product-list > div + div {
	padding-top: 19px;
}
.product-list .image {
}
.product-list .image img {
}
.product-list .name {
	margin-bottom: 11px;
}
.product-list .name a { 
	color: #3a3a3a;
	font:400 12px HelveticaBold;
}
.product-list .description {
	color: #676767;
    font-size: 12px;
    margin-bottom: 10px;
}
.product-list .rating {
	color: #7B7B7B; margin-bottom:7px;
}
.product-list .price {
	color: #D0344A;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 16px;
}
.product-list .price-old {
	color: #787878; margin-right:10px;
	text-decoration: line-through;
}
.product-list .price-new {
	font-weight: bold;
}
.product-list .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #BBBBBB;
}
.product-list .cart {
	margin:3px 10px 6px 0;
	float:left; 
}
.product-list .wishlist, .product-list .compare {
	margin:0 0 5px;
}
.product-list .wishlist a, .product-list .compare a{
	background: url("../image/action.jpg") no-repeat scroll left center transparent;
    color: #787878;
    font: 700 9px Arial;
    padding-left: 8px;
    text-transform: uppercase;
}
.product-grid {
	width: 100%;
	overflow: hidden;
}
.product-grid  div.one-product-box {
	width: 160px;
	height:440px;
	display: inline-block;
	vertical-align: top;
	margin-right: 26px;
	margin-bottom: 10px;
	float:left
}
.product-grid  div.one-product-box.last{margin-right:0}
#column-left + #column-right + #content .product-grid > div {
	width: 125px;
}
.product-grid .image {
	display: block;
	margin-bottom: 20px;
}
.product-grid .image img {
}
.product-grid .name {margin-bottom:7px}
.product-grid .name a {
	color: #3a3a3a;
	font:400 12px HelveticaBold;
}
.product-grid .description {
	color:#676767; font-size:12px; margin-bottom:3px;
}
.product-grid .rating {
	display: block;
	margin-bottom: 11px;
}
.product-grid .price {
	display: block;
	color: #d0344a;
	margin-bottom: 16px;
	font:700 14px Arial;
}
.product-grid .price-old {
	color: #787878; margin-right:10px;
	text-decoration: line-through;
}
.product-grid .price .price-tax {
	display: none;
}
.product-grid .cart {
	margin-bottom: 6px;
}
.product-grid .wishlist, .product-grid .compare {
	margin-bottom: 3px;
}
.product-grid .wishlist a, .product-grid .compare a{background:url(../image/action.jpg) no-repeat left; padding-left:8px; color:#787878; font:700 9px Arial; text-transform:uppercase}
/* Product */
.product-info {
	overflow: hidden;
	margin-bottom: 20px;
}
.product-info .left {
	float: left;
	margin-right: 25px;
	width:318px
}
.product-info .right {
    float: left;
    width: 375px;
}
/*.product-info > .left + .right {
	margin-left: 265px;
}*/
.product-info .image {
	float: left;
	margin-bottom: 68px;
	margin-right:20px;
	text-align:center;
	padding:20px;
	border:1px solid #cccccc;
}
.product-info .image img{ background:#fff; }
.product-info .image-additional {
	clear: both;
	position:relative;
}
.product-info .image-additional img {

}
.product-info .image-additional a {
	float: left;
	display: block;
	margin-bottom: 10px;
}
.product-info .description {
	margin-bottom: 15px;
	line-height: 20px;
	color: #626262;
	font-size:12px;
}
.product-info .description h2{margin-bottom:10px; color:#00b0e1; font:400 18px HelveticaBold}
.product-info .description span {
	color: #626262;
	font-weight:400;
	font-size:12px;
}
.product-info .description a {
	color: #626262;
}
.product-info .description b{color:#626262; font-weight:400}
.product-info .price {
	overflow: hidden;
	margin-bottom: 10px;
	font:400 14px HelveticaBold;
	text-transform:uppercase;
	color: #1d1d1d;
	margin-top:11px;
}
.product-info .price-old {
	color: #9c9c9c;
	text-decoration: line-through;
	margin-right:8px;
	font:700 16px Arial
}
.product-info .price-new { color:#01a2d8; font:700 16px Arial}
.product-info .price-first{color:#01a2d8; font:700 16px Arial}
.product-info .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #626262;
	display:block;
	text-transform:none;
	font-family:Arial;
	margin-top:2px
}
.product-info .price .reward {
	font-size: 12px;
	font-weight: normal;
	color: #626262;
	display:block; margin:2px 0
}
.product-info .price .reward small{font-size:12px; font-family:Arial; text-transform:none}
.product-info .price .discounts {
	font-weight: 400;
	font-size: 11px;
	line-height:20px;
	margin-bottom:0;
	font-family:Arial;
	text-transform:none;
	color:#626262;
}
.product-info .options {
	color:#626262;
	font-size:12px;
}
.product-info .options h2{color: #1D1D1D;
    font:400 14px HelveticaBold;
    margin-bottom: 6px;
    text-transform: uppercase;}
.product-info .options .option b{font-weight:400; color:#292929}
.product-info .options .option span.required{color:#ff2d02; font-weight:400}
.product-info .options .option input[type='text']{margin:9px 0 0; width:307px; color:#ababab; height:22px;}
.product-info .options .option textarea{margin:9px 0 0; width:307px}
.product-info .options .option span.yellow_button{margin-top:6px}
.product-info .options select{margin:9px 0 1px; width:315px; padding:3px 2px; height:24px}
.product-info .options #option-222 span.black_button{margin:7px 0 0}
.product-info .options #option-219 input, .product-info .options #option-221 input{width:307px; margin-bottom:0; margin-top:9px}
.product-info .options #option-220 input{width:307px; margin-bottom:6px; margin-top:6px}
.product-info .options #option-222{margin-bottom:0}
.product-info .options span.button_black{margin-top:8px; margin-bottom:4px;}
.product-info .options #option-219, .product-info .options #option-221{margin-bottom:0}
.product-info .options #option-218, .product-info .options #option-223{line-height:23px}
.product-info .option-image {
	margin-top: 3px;
	margin-bottom: 10px;
}
.product-info .option-image label {
	display: block;
	width: 100%;
	height: 100%;
}
.product-info .option-image img {
	margin-right: 5px;
	border: 1px solid #CCCCCC;
	cursor: pointer;
}
.product-info .cart {
	border-top: 1px solid #c6c6c6;
	padding: 20px 0 0;
	margin-bottom: 5px;
	color: #4D4D4D;
	overflow: hidden;
}
.product-info .cart input[type='text']{height: 21px; color:#626262;
    line-height: 21px;
    width: 47px;
	border-radius:0; -moz-border-radius:0}
.product-info .cart .action{display:block; width:100%; margin:13px 0 10px}
.product-info .cart .action span.button_pink{float:left; margin-right:6px; margin-top:4px}
.product-info .cart .action a.wishlist, .product-info .cart .action a.compare{
	background: url("../image/action.jpg") no-repeat scroll left center transparent;
    color: #787878;
    font: 700 9px/19px Arial;
    padding-left: 8px;
    text-transform: uppercase;
}

.product-info .cart div {
	float: left;
	vertical-align: middle;
}
.product-info .cart b{font-weight:400; color:#434343}
.product-info .cart .minimum {
	font-size: 11px;
	color: #9b9b9b;
	clear: both;
	width:100%;
	margin-top: 5px;
}
.product-info .review {
	margin-bottom: 10px; overflow:hidden; color:#999795;
}
.product-info .review > div {
	line-height: 20px; margin-bottom:9px; color:#5b5b5c
}
.product-info .review > div > span {
	color: #38B0E3;
}
.product-info .review .share {
	overflow: hidden;
	line-height: normal;
}
.product-info .review .share a {
	text-decoration: none;
}
.product-info .review a.reviews, .product-info .review a.write_review{color:#1f2021; font:700 10px Arial; text-transform:uppercase}
.product-info .review a.write_review{}
#tab-review input[type='text'], #tab-review textarea {width:558px!important; display:block; margin:6px 0 3px}

.review-list {
	padding: 10px 0;
	overflow: hidden;
	margin-bottom: 20px;
}
.review-list .author {
	margin-bottom: 6px;
}
.review-list .author b{color:#01a2d8; font:700 10px Arial; text-transform:uppercase}
.review-list .rating {
	display:block;
	margin-bottom:13px;
}
.review-list .text {
	clear: both;
}
.attribute {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.attribute thead td, .attribute thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.attribute tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
	width: 20%;
}
.attribute td {
	padding: 7px;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info {
	border-collapse: collapse;
	width: 100%;
}
.compare-info thead td, .compare-info thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}
.compare-info tr td:first-child {
	color: #1f2021;
	font-weight: bold;
	text-align: left;
	font-size:12px
}
.compare-info td {
	padding: 7px;
	width: 20%;
	color: #787878;
	text-align: left;
	vertical-align: top;
	font-size:11px
}
.compare-info tbody td {background:url("../image/line_category.jpg") repeat-x scroll center bottom transparent; padding-bottom:36px; padding-top:17px}
.compare-info tbody td.last{background:none}
.compare-info tbody td img.stars{margin-bottom:10px}
.compare-info td.image{padding-bottom:19px; text-align:center}
.compare-info td.image img{margin-bottom:25px}
.compare-info td.image div.name{display:block; margin-bottom:6px; text-align: left;}
.compare-info td.image div.name a {
	font: 400 12px HelveticaBold;
	color:#1d1d1d;
	line-height:14px;
}
.compare-info td.image div.remove{display:block; margin-bottom:15px; text-align: left;}
.compare-info td.image div.remove a{color:#d0344a; font-size:10px; text-transform:uppercase; font-weight:700}
.compare-info td.image div.available{display:block; font-size:11px; color:#01a2d8; margin-bottom:14px; text-align: left;}
.compare-info td div.description{display:block; margin-bottom:17px}
.compare-info td div.price{color:#d0344a; font-size:18px; font-weight:700; margin-bottom:17px}
.compare-info .price-old {
	text-decoration: line-through;
	color:#787878
}
.compare-info .price-new {}
/* wishlist */
.wishlist-info{
	background:url("../image/boss-category-bg.jpg") repeat-x scroll center bottom transparent;
	border:1px solid #cccccc;
	margin-bottom:20px;
	padding-bottom:13px;
	margin-top:18px;
}
.wishlist-info table {
	width: 100%;
	border-collapse: collapse;
	background:url("../image/heading-feature.jpg") repeat-x scroll center top transparent; 
}
.wishlist-info td {
	padding: 7px;
}
.wishlist-info thead td {
	font-weight: bold;
	font-size:10px;
	color:#1f2021;
	text-transform:uppercase;
	height:21px;
	line-height:10px;
	padding:6px 7px;
}
.wishlist-info thead .name {
	padding-left:27px;
}
.wishlist-info thead .model{text-align:center}
.wishlist-info thead .name, .wishlist-info thead .stock {
	text-align: left;
}
.wishlist-info thead .quantity, .wishlist-info thead .total, .wishlist-info thead .action {
	text-align: right;
}
.wishlist-info thead .price{text-align:center}
.wishlist-info tbody td {
	vertical-align: top;
}
.wishlist-info tbody .image img {
}
.wishlist-info tbody .image {
	padding: 21px 13px 7px 20px;
    text-align: left;
	width:110px;
}
.wishlist-info tbody .name {
    padding-right: 50px;
    width: 225px;
}
.wishlist-info tbody .name a {
    color: #1d1d1d;
	font:400 12px HelveticaBold;
    line-height: 14px;
}
.wishlist-info tbody .name div.remove {
    margin-top: 5px;
}
.wishlist-info tbody .name div.remove a {
    color: #d0344a;
    font:700 10px Arial;
    text-transform: uppercase;
}
.wishlist-info tbody .name, .wishlist-info tbody .model {
	text-align: left;
	padding-top:27px;
}
.wishlist-info tbody .model{text-transform:uppercase; text-align:center; color:#787878}
.wishlist-info tbody .stock {font-size:11px; color:#01a2d8; padding-top:28px}
.wishlist-info tbody .quantity, .wishlist-info tbody .total, .wishlist-info tbody .action {
	text-align: right;
}
.wishlist-info tbody td.price{color:#d0344a; font:700 14px Arial; padding-top:27px; text-align:center}
.wishlist-info tbody .price s {color:#787878
}
.wishlist-info tbody .action{padding-top:20px; padding-right:53px}
.wishlist-info tbody .action img {
	cursor: pointer;
}
.login-content {
	margin-bottom: 20px;
	overflow: hidden;
}
.login-content .left {
	float: left;
	width: 48%;
}
.login-content .right {
	float: right;
	width: 48%
}
.login-content .left .content, .login-content .right .content {
	min-height: 190px;
}
.login-content input[type='text'], .login-content input[type='password']{width:335px; margin:6px 0}
a.forgotten{color:#9b9b9b; text-decoration:underline; font:400 11px Arial; padding-left:6px; vertical-align:2px}
a.forgotten:hover{text-decoration:none}
form.register{}
form.register input[type='text'], form.register input[type='password']{width:466px; border:1px solid #c9c9c9; height:24px; margin-bottom:11px}
form.register select{width:475px; margin-bottom:11px}
form.register .content{margin-bottom:24px}
form.register .content tr td .error{margin-bottom:10px}
form.register h2{margin-bottom:13px;}
form.register span.button_pink{margin-top:20px}

.myaccount{margin-bottom:20px}
.myaccount ul li{line-height:30px}
.myaccount ul li a{color:#787878}

form.address_form{}
form.address_form input[type='text']{width:340px;}
form.address_form select{width:348px}

form.newsletter td span{padding-top:3px; display:block}
/* orders */
.order-list {
	margin-bottom: 10px;
}
.order-list .order-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.order-list .order-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.order-list .order-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.order-list .order-content div {
	float: left;
	width: 33.3%;
}
.order-list .order-info {
	text-align: right;
}
.order-detail {
	background: #EFEFEF;
	font-weight: bold;
}
/* returns */
.return-list {
	margin-bottom: 10px;
}
.return-list .return-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.return-list .return-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.return-list .return-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.return-list .return-content div {
	float: left;
	width: 33.3%;
}
.return-list .return-info {
	text-align: right;
}
.return-product {
	overflow: hidden;
	margin-bottom: 20px;
}
.return-name {
	float: left;
	width: 100%;
}
.return-model {
	float: left;
	width: 100%;
}
.return-quantity {
	float: left;
	width: 100%;
}
.return-detail {
	overflow: hidden;
	margin-bottom: 20px;
}
.return-reason {
	float: left;
	width: 31%;
	margin-right: 15px;
	line-height:20px
}
.return-opened {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened textarea {
	width: 98%;
	vertical-align: top;
}
.return-captcha {
	float: left;
}
.return-captcha input[type='text']{margin:3px 0 6px}
.download-list {
	margin-bottom: 10px;
}
.download-list .download-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.download-list .download-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.download-list .download-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.download-list .download-content div {
	float: left;
	width: 33.3%;
}
.download-list .download-info {
	text-align: right;
}
/* cart */
.cart-info{
	background:url("../image/boss-category-bg.jpg") repeat-x scroll center bottom transparent;
	border:1px solid #ccc;
	border-bottom:none;
	margin-bottom:36px;
	padding-bottom:15px;
}
.cart-info table {
	width: 100%;
	border-collapse: collapse;
	background:url("../image/heading-feature.jpg") repeat-x scroll center top transparent; 
}
.cart-info td {
	padding: 7px;
}
.cart-info thead td {
	color: #1f2021;
	font-weight: bold;
	font-size:10px;
	text-transform:uppercase;
	line-height:10px;
	height:21px;
}
.cart-info thead td.name{padding-left:27px;}
.cart-info thead .image {
	text-align: center;
}
.cart-info thead .name  {
	text-align: left;
}
.cart-info thead .model{text-align:center}
.cart-info thead .quantity{text-align: left; padding-left:37px;}
.cart-info thead .price, .cart-info thead .total {
	text-align: center;
}
.cart-info tbody td {
	vertical-align: top;
}
.cart-info tbody .image img {
}
.cart-info tbody .image {
	text-align: left;
	width:124px;
	padding:23px 13px 7px 20px
}
.cart-info tbody .name, .cart-info tbody .model {
	text-align: left; padding-top:27px
}
.cart-info tbody .model {text-transform:uppercase; text-align:center; color:#787878}
.cart-info tbody .quantity{padding-top:20px; text-align:left; padding-left:23px}
.cart-info tbody .name {width:290px}
.cart-info tbody .name a, .cart-info tbody .name span{font:400 12px/14px HelveticaBold; color:#1D1D1D; line-height:14px } 
.cart-info tbody .name div.remove {margin-top:5px}
.cart-info tbody .name div.remove a{color:#D0344A; font:700 10px Arial; text-transform:uppercase; }
.cart-info tbody .quantity input[type='image'], .cart-info tbody .quantity img {
	position: relative;
	top: 4px;
	cursor: pointer;
}
.cart-info tbody .quantity input[type='text']{width:61px; font-size:11px; color:#9e9d9d}
.cart-info tbody .price, .cart-info tbody .total {
	text-align: center;
	font:700 14px Arial;
	color:#D0344A;
	padding-top:26px
}
.cart-info tbody span.stock {
	color: #F00;
	font-weight: bold;
}
.cart-module > div {
	display: none;
}
.cart-module .content{background:url("../image/line_category.jpg") repeat-x scroll center top; padding-top:19px; padding-bottom:15px; font-weight:700}
.cart-module .content input[type='text']{margin:0}
.cart-module #voucher.content input[type='text']{margin:9px 0 21px}
.cart-module #coupon.content input[type='text']{margin:9px 0 21px}
.cart-module #shipping.content span.button_black{margin-top:13px}
.cart-module .content p{color:#1f2021; font-weight:700; margin-bottom:15px}
.cart-module .content select{margin:5px 0 0; width:348px}
.cart-module .content table tr td{padding:0 0 6px; font-weight:700; color:#787878}
.cart-module #shipping table{margin-bottom:12px}
.cart-total {
	background:url("../image/line_category.jpg") repeat-x scroll center top transparent;
	overflow: hidden;
	padding-top: 22px;
	margin-bottom: 11px;
}
.cart-total table {
	float: right;
}
.cart-total td {
	padding: 0 0 3px 10px;
	text-align: right;
}
.cart-total td.right{color:#1d1d1d; font-size:18px; font-weight:700}
.cart-total td.left{color:#9e9d9d; font-weight:700; font-size:18px; text-transform:lowercase; text-align:left}
.cart-total td.right.last{color:#d0344a;}
.shopping_cart_button a{margin-left:6px}
.choice_shopping_cart{margin-bottom:29px!important}
.choice_shopping_cart h2{color:#1d1d1d; font-weight:700; font-size:14px; margin-bottom:3px; font-family:Arial; text-transform:none}
.choice_shopping_cart p{color:#9e9d9d; margin-bottom:16px}
.choice_shopping_cart table.radio td label{color:#787878}
/* checkout */
.checkout-heading {
	background:url("../image/line_category.jpg") repeat-x scroll center bottom transparent;
	padding-bottom: 26px;
	font-weight: 400;
	font-size: 18px;
	font-family:'HelveticaBold';
	color: #787878;
	margin-bottom: 15px;
	overflow:hidden
}
.checkout-heading a {
	float: right;
	margin-top: 4px;
	font-weight: normal;
	text-decoration: none;
	color:#D0344A;
	font:700 14px Arial;
}
.checkout-heading a:hover{color:#1f2021}
.checkout-heading span {
    float: left;
}
.checkout-content {
	padding: 5px 0px 38px 0px;
	margin-bottom:8px;
	display: none;
	overflow: hidden;
	background:url("../image/line_category.jpg") repeat-x scroll center bottom transparent;
}
.checkout-content .error{margin-bottom:10px}
.checkout-content .left {
	float: left;
	width: 48%;
}
.checkout-content .right {
	float: right;
	width: 48%;
}
.checkout-content #login.right{margin-bottom:33px}
.checkout-content .buttons {
	clear: both;
}
.checkout-content table.form td{padding:0}
#checkout .checkout-content h2{color:#1f2021; font-size:12px; font-weight:400; font-family:'HelveticaBold'; text-transform:uppercase; margin-bottom:13px}
#checkout .checkout-content p{margin-bottom:15px}
#checkout .checkout-content .left span.button_pink{margin-top:17px}
#checkout .checkout-content input[type='radio']{margin-bottom:12px; margin-right:6px}
#checkout .checkout-content p.info{color:#787878; line-height:16px; text-transform:none; font-size:12px; font-weight:400; margin-top:-4px; margin-bottom:18px}
#checkout .checkout-content b{color:#626262; font-weight:700}
#checkout .checkout-content input[type='text'], #checkout .checkout-content input[type='password']{margin:6px 0; width:450px}

#payment-address .checkout-content .left, #payment-address .checkout-content .right{color:#787878; font-weight:400}
#payment-address .checkout-content h2{color:#303030; font-family:'HelveticaBold'; font-size:14px; font-weight:400; margin-bottom:14px}
#payment-address .checkout-content h2.text-password{margin-top:29px}
#payment-address .checkout-content input[type='text'], #payment-address .checkout-content input[type='password']{margin:9px 0}
#payment-address .checkout-content select{margin:9px 0; width:308px;}
#payment-address .checkout-content input[type='checkbox']{margin-bottom:10px}
#payment-address .checkout-content .buttons .left{font-weight:400}
#payment-address .checkout-content .buttons span.button{margin-top:11px}
#payment-address .checkout-content input[type='radio'], #shipping-address .checkout-content input[type='radio']{margin-bottom:7px}
#shipping-address .checkout-content input[type='text'], #shipping-address .checkout-content select{margin:9px 0}
#shipping-method .checkout-content b{color:#1f2021; font-size:10px; text-transform:uppercase}
#shipping-method .checkout-content textarea{margin:6px 0; width:588px!important}
#shipping-method .checkout-content span{display:block; font-weight:700}
#shipping-method .checkout-content span.button{margin-top:15px}
#payment-method .checkout-content textarea{margin:6px 0; width:588px!important}
#payment-method .checkout-content span{display:block; font-weight:700}
#payment-method .checkout-content .buttons .left {width: 100%;}
#payment-method  .checkout-content span.button{margin-top:15px}
#payment-method  .checkout-content table.radio{margin-bottom:6px}
.checkout-product{
	background:url("../image/boss-category-bg.jpg") repeat-x scroll center bottom transparent;
	border:1px solid #ccc;
	margin-bottom:36px;
	padding-bottom:13px
}
.checkout-product table {
	width: 100%;
	border-collapse: collapse;
	background:url("../image/heading-feature.jpg") repeat-x scroll center top transparent; 
}
.checkout-product td {
	padding: 7px;
}
.checkout-product thead td {
	font-weight: bold;
	font-size:10px;
	color:#1f2021;
	text-transform:uppercase;
	height:21px;
	line-height:10px;
	padding:6px 27px;
}
.checkout-product thead .name  {
	text-align: left;
}
.checkout-product thead .model{text-align:center}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
	text-align: center;
}
.checkout-product tbody td {
	vertical-align: top;
	padding:27px
}
.checkout-product tbody .name, .checkout-product tbody .model {
	text-align: left;
}
.checkout-product tbody .name a{ color: #1D1D1D;
   font:400 12px/14px HelveticaBold;
    line-height: 14px;}
.checkout-product tbody .model{text-align: center;
    text-transform: uppercase;}	
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
	text-align: center;
}
.checkout-product tbody .price, .checkout-product tbody .total{color: #D0344A; font: 700 14px Arial;}
.checkout-product tfoot td {
	text-align: right;
	padding:10px 27px
}
.checkout-product tfoot td.price{
	color: #9E9D9D;
    font-size: 18px;
    font-weight: 400;
    text-transform: lowercase;
}
.checkout-product tfoot td.total{
	color: #1D1D1D;
    font-size: 18px;
    font-weight: 700;}
.checkout-product tfoot td.total.last{color:#D0344A}	
.contact-info {
	overflow: hidden;
	line-height:20px
}
.contact-info .left {
	float: left;
	width: 48%;
}
.contact-info .right {
	float: left;
	width: 48%;
}
form.contact-form input[type='text'], form.contact-form  textarea{width:40%!important; margin:6px 0}
.sitemap-info {
	overflow: hidden;
}
.sitemap-info .left {
	float: left;
	width: 48%;
}
.sitemap-info .right {
	float: left;
	width: 48%;
}
.sitemap-info ul li{line-height:18px}
.sitemap-info ul li ul{padding-left:20px}
/* footer */ 
.frame_footer{background:#fff url(../image/bg_footer.jpg) repeat-x top; position:relative; }
#footer {
	clear: both;
}
#footer h3 {color:#1f1f1f; font-weight:700; text-transform:uppercase; margin-bottom:9px; font-size:12px;}
#footer .column {
	float: left;
	min-height: 100px;
	width:20%
}
#footer .column ul {
}
#footer .column ul li {line-height:20px; padding-right:15px
}
#footer .column a { color:#828282; font:400 12px HelveticaRegular;}
#footer .column a:hover {
}
#powered {
	text-align: center;
	clear: both;
	color:#838383;
	margin-top:3px;
	padding-bottom:85px
}
#powered a{color:#838383;}
#footer .partner{clear:both; display:block; overflow:hidden; border-bottom:1px solid #e2e2e2; padding:30px 0 16px; margin-bottom:23px}
#footer .partner h3{color:#292929; font:700 12px Arial; text-transform:capitalize; float:left; margin-right:25px; margin-top:13px}
#footer .partner ul li{float:left; margin-right:8px}
.footer-Category{text-align:center}
.footer-Category h3{margin-bottom:15px}
.footer-Category ul {margin-bottom:3px}
.footer-Category ul li{display:inline}
.footer-Category ul li a{color:#4494e4; font:400 12px HelveticaRegular}
.footer-Category ul li + li{background:url(../image/line_fct.jpg) no-repeat left; margin-left:3px; padding-left:8px}
#static-footer-bottom .static-footer-2 h3{margin-bottom:14px!important}
#static-footer-bottom .static-footer-2 ul li{margin-bottom:12px}
#static-footer-bottom .static-footer-2 ul li img{vertical-align:-7px; margin-right:4px;}
#static-footer-bottom .static-footer-3 a{display:inline-block; margin-bottom:3px}
#static-footer-bottom .static-footer-3 p{margin-bottom:2px; color:#828282}
/* banner */
.banner div {
}
.banner div img {
}
#column-left .banner{margin-bottom:20px}
.banner-home-column{}
.banner-home-column a{display:block; margin-bottom:7px}
.static-banner-category{margin-top:10px}
.discount{background:url(../image/label.png) no-repeat; width:67px; height:67px; position:absolute; color:#fff; font:700 16px Arial; line-height:67px; text-align:center}
.banner-home-3{float:left; }
.banner-home-3 a{display:block; float:left}
.banner-home-3 a + a{margin-left:12px}
.banner-home-3.banner-block01{ margin-bottom:27px}
.banner-home-3.banner-block02{ margin-bottom:14px}
.banner-home-3.banner-block03{ margin-bottom:14px}
.banner-home-3.banner-block04{ margin-bottom:9px}
span.price-old{text-decoration:line-through; color:#787878;}
@font-face {
    font-family: 'HelveticaBold';
    src: url('../fonts/helveticabd/helveticabd-webfont.eot');
    src: url('../fonts/helveticabd/helveticabd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticabd/helveticabd-webfont.woff') format('woff'),
         url('../fonts/helveticabd/helveticabd-webfont.ttf') format('truetype'),
         url('../fonts/helveticabd/helveticabd-webfont.svg#HelveticaBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'HelveticaRegular';
    src: url('../fonts/helvetica/helvetica-webfont.eot');
    src: url('../fonts/helvetica/helvetica-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica/helvetica-webfont.woff') format('woff'),
         url('../fonts/helvetica/helvetica-webfont.ttf') format('truetype'),
         url('../fonts/helvetica/helvetica-webfont.svg#HelveticaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* hack safary */
@media screen and (-webkit-min-device-pixel-ratio:0)
{ 
	a.button_pink span{line-height:31px}
	span.button_pink input{padding-top:2px}
	.product-list .wishlist{margin:0}
	.product-list .compare{margin-bottom:5px}
	#language, #currency{padding:5px 0 0 5px}
	#language select, #currency select{background:#fff; height:23px; line-height:19px; padding:3px 2px}
	#boss-search .choose-select .input_cat select{padding:3px 1px 3px 5px}
	.boss_home_filter .es-nav span.es-nav-next, .boss_category_content .es-nav span.es-nav-next{right:-2px!important}
	
}