.boss-alphabet {overflow: hidden;}
.boss-alphabet ul{padding-left:0}
.boss-alphabet ul li{list-style:none;width:26px;height: 23px;display:inline;float: left;text-align: center;text-transform:uppercase}